# Property Model

This document was constructed analyze specific properties in Nashville, Tennessee. The data was scraped from Redfin via another script. The ultimate objective is to identify various features and build a machine Learning model to determine prices based on features.

In [67]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

In [68]:
file=r'C:\Users\claudius.ibine\Downloads\redfin_2018-05-31-06-19-11.csv'
df=pd.read_csv(file)
df=df[['PRICE','BEDS','BATHS','YEAR BUILT','SQUARE FEET','DAYS ON MARKET']]

In [69]:
df.head(16)

     PRICE  BEDS  BATHS  YEAR BUILT  SQUARE FEET  DAYS ON MARKET
0   239900     3    2.5      2015.0         1650             1.0
1   275000     3    2.0      1996.0         1691             1.0
2   288500     3    2.0      2017.0         1988             1.0
3   229000     3    2.0      1993.0         1310             1.0
4   249900     3    2.0      2003.0         1739             1.0
5   239900     3    2.5      2018.0         1839             1.0
6   239900     3    2.5      2018.0         1839             1.0
7   214900     3    2.0      1986.0         1270             2.0
8   244900     3    3.0      2018.0         1918             2.0
9   289900     3    2.5      2005.0         2359             2.0
10  265000     3    2.5      2014.0         1800             2.0
11  299900     3    2.0      2018.0         2340             2.0
12  284900     3    2.5      2018.0         1973             2.0
13  124900     2    1.0      1936.0         1049             2.0
14  159900     2    2.5      2008.0         1260             3.0
15  279900     3    2.0      2015.0         2017             3.0

In [70]:
df['YEAR BUILT']=df['YEAR BUILT'].fillna(df['YEAR BUILT'].mode()[0])
df['DAYS ON MARKET']=df['DAYS ON MARKET'].fillna(df['DAYS ON MARKET'].mode()[0])
df['YEAR BUILT']=df['YEAR BUILT'].apply(np.int64)
df['DAYS ON MARKET']=df['DAYS ON MARKET'].apply(np.int64)

In [71]:
x=df[['BEDS','BATHS','YEAR BUILT','SQUARE FEET','DAYS ON MARKET']]
y=df['PRICE'].values.tolist()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [73]:
#build dictionary to store model scores
scores={'KNN':0,'DTC':0,'LR':0,'GNB':0,'RF':0,'SVM':0,'LDA':0}

knn=KNeighborsClassifier(n_neighbors=3)
knn=knn.fit(x_train,y_train)
knn_accuracy=knn.score(x_test,y_test)
scores['KNN']=knn_accuracy
print('KNN accuracy score is: ' + str(knn_accuracy))

dtc=tree.DecisionTreeClassifier()
dtc=dtc.fit(x_train,y_train)
dtc_accuracy=dtc.score(x_test,y_test)
scores['DTC']=dtc_accuracy
print('DTC accuracy score is: ' + str(dtc_accuracy))

lr=LogisticRegression()
lr=lr.fit(x_train,y_train)
lr_accuracy=lr.score(x_test,y_test)
scores['LR']=lr_accuracy
print('LR accuracy score is: ' + str(lr_accuracy))

gnb=GaussianNB()
gnb=gnb.fit(x_train,y_train)
gnb_accuracy=gnb.score(x_test,y_test)
scores['GNB']=gnb_accuracy
print('GNB accuracy score is: ' + str(gnb_accuracy))

rf=RandomForestClassifier(n_estimators=1000)
rf=rf.fit(x_train,y_train)
rf_accuracy=rf.score(x_test,y_test)
scores['RF']=rf_accuracy
print('RF accuracy score is: ' + str(rf_accuracy))

svm=SVC()
svm=svm.fit(x_train,y_train)
svm_accuracy=svm.score(x_test,y_test)
scores['SVM']=svm_accuracy
print('SVM accuracy score is: ' + str(svm_accuracy))

lda=LinearDiscriminantAnalysis()
lda=lda.fit(x_train,y_train)
lda_accuracy=lda.score(x_test,y_test)
scores['LDA']=lda_accuracy
print('LDA accuracy score is: ' + str(lda_accuracy))

KNN accuracy score is: 0.0689655172414
DTC accuracy score is: 0.0689655172414
LR accuracy score is: 0.0344827586207
GNB accuracy score is: 0.103448275862
RF accuracy score is: 0.0689655172414
SVM accuracy score is: 0.0689655172414
LDA accuracy score is: 0.0344827586207

In [86]:
lda=LinearDiscriminantAnalysis()
lda=lda.fit(x_train,y_train)
accuracy=lda.score(x_test,y_test)
lda_prediction=lda.predict(x_test)

In [87]:
df=x_test.reset_index()
df=df[['BEDS','BATHS','YEAR BUILT','SQUARE FEET','DAYS ON MARKET']]
actual=(list(y_test))
prediction=(list(lda_prediction))
df['actual']=pd.Series(actual)
df['prediction']=pd.Series(prediction)
df

    BEDS  BATHS  YEAR BUILT  SQUARE FEET  DAYS ON MARKET  actual  prediction
0      3    2.0        2018         1950              64  286221      294637
1      4    3.0        2004         2704             104  284900      243900
2      3    3.5        2002         2327              17  284000      244900
3      3    2.5        2018         1650               2  222860      239900
4      4    2.5        2018         2257               2  275490      289900
5      4    3.0        2011         3106               6  299999      292490
6      3    2.5        2018         2368              69  299150      239900
7      3    2.5        2018         1566               2  248900      229900
8      3    2.0        2018         1950              64  284900      294637
9      4    2.5        2017         2186             562  292040      279985
10     4    2.5        2018         2178               2  278900      289900
11     4    3.5        2010         2745              84  299900      239900
12     3    2.0        2018         1950              64  289663      294637
13     3    2.0        2018         1685               2  284990      282850
14     3    2.5        2018         1973               2  284900      239900
15     5    3.0        2017         2240             475  297900      279985
16     3    2.5        2018         1434               2  232900      209900
17     3    2.5        2018         1650               2  223320      239900
18     4    2.5        2018         1824               9  257355      290990
19     3    2.5        2018         1650              10  222860      229900
20     3    2.5        2018         1810               2  240150      239900
21     3    2.5        2005         2359               2  289900      294000
22     3    2.0        2003         1739               1  249900      264988
23     3    2.0        2015         2017               3  279900      288500
24     3    2.5        2018         1796              88  298990      294637
25     5    2.5        2018         2590               2  279490      289490
26     3    2.5        2018         1650               2  222220      239900
27     3    2.5        2018         1810               2  239510      239900
28     3    2.0        2018         2340               2  299900      299900

In [88]:
lda.predict([[2,2.5,2017,1356,1]]) #Enter home values here #Manual prediction

array([159900])